.hdty-card3-container {
  background-color: #fff;
}

.hdty-card3 {
  height: 140px;
  margin-bottom: 15px;
  border: 1px solid #a8a6a6;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &-header {
    font-size: 1.1vw;
    padding: 2px 10px;
    font-weight: bolder;
    height: 55px;
    line-height: 25px;
    overflow: hidden;
    margin-top: -20px;
  }

  &-body {
    color: #909399;
    padding: 5px 10px;
  }

  &-tag {
    position: relative;
    z-index: 99;
    right: -65%;
    top: 18px;
    width: 121px;
    color: white;
    text-align: center;
    font-size: 0.5vw;
    transform: rotate(45deg);

    &-primary {
      background-color: rgba(64, 158, 255, 0.8);
    }
    &-danger {
      background-color: rgba(255, 63, 78, 0.8);
    }
    &-success {
      background-color: rgba(103, 194, 58, 0.8);
    }
    &-warning {
      background-color: rgba(230, 162, 60, 0.8);
    }
    &-info {
      background-color: rgba(144, 147, 153, 0.8);
    }
  }

  &-button-container {
    display: flex;
    gap: 5px;
  }

  &-no-data {
    width: 100%;
    text-align: center;
    padding: 50px;
    color: #909399;
  }
}

/*统计面板*/
::v-deep .con-stat-pane {
  padding: 0 !important;
  /*修改表单背景色*/
  .el-form {
    .el-input {
      .el-input__inner {
        background-color: #ffffff;
      }
    }
    .el-date-editor {
      &.el-input__inner {
        background-color: #ffffff;
      }
      .el-range-input {
        background-color: #ffffff;
      }
    }
  }
  /*修改表格背景色*/
  .el-table {
    th {
      background-color: #e5eafb;
    }
    tr {
      background-color: #ffffff;
    }
  }
  /*表格内嵌样式修改*/
  .el-table {
    .el-table__header {
      /*自定义表头（常规动态表头）*/
      .con-table-head {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        line-height: normal;
        white-space: normal;
        &.con-table-head-clickable {
          cursor: pointer;
          color: #1194fb;
          font-weight: bold;
          text-decoration: underline;
        }
      }
      /*特殊表头样式（核查下发统计，接收单位列等）*/
      .header-common {
        padding: 0;
        background-color: #abcdf3;
        .con-header {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 0 12px;
          white-space: inherit;
          line-height: inherit;
        }
      }
      /*自定义表头（添加预警超期时间表头）*/
      .con-table-head-towrows {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        line-height: normal;
        white-space: normal;
        .row1 {
          height: 20px;
          line-height: 20px;
        }
        .row2 {
          width: 90px;
          line-height: 20px;
          color: #f56c6c;
          white-space: inherit;
        }
      }
    }
    .el-table__body {
      /*自定义列的背景色*/
      .con-cell {
        padding: 0;
        height: 36px;
        font-size: 14px;
        .cell {
          width: 100% !important;
          height: 100%;
          line-height: 36px;
        }
        &.cell-back-special {
          background-color: #f3f8e9;
          .con-num-cell-normal {
            color: #01b3c1;
          }
        }
        &.cell-back-danger {
          background-color: #ffebeb;
          .con-num-cell-normal {
            color: #ff0b00;
          }
        }
        &.cell-back-warning {
          background-color: #fff2de;
          .con-num-cell-normal {
            color: #ff7000;
          }
        }
        &.cell-back-primary {
          background-color: #d7ebff;
          .con-num-cell-normal {
            color: #409eff;
          }
        }
      }
    }
  }
  /*短的日期选择框*/
  .short-picker-for-date {
    &.el-date-editor {
      width: 230px;
      .el-range-separator {
        display: inline-block;
        width: 35px;
      }
    }
  }
  /*短的日期时间选择框*/
  .short-picker-for-datetime {
    &.el-date-editor {
      width: 350px;
      .el-range-separator {
        display: inline-block;
        width: 35px;
      }
    }
  }
  /*机构样式*/
  .org-name {
    font-weight: bold;
    &.org-name-clickable {
      color: #1194fb;
      cursor: pointer;
    }
  }
  /*数字样式*/
  .con-num-cell-normal {
    font-weight: bold;
    color: #1194fb;
    font-size: 15px;
    .con-num-cell-clickable {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  /*倒数第二行 本级机构汉字*/
  .second-last-row-left {
    background-color: #01b3c1 !important;
    .cell {
      width: 100% !important;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
    }
  }
  /*倒数第二行 本级机构数字*/
  .second-last-row-right {
    background-color: #62dbdb !important;
    .cell {
      font-size: 15px;
      font-weight: bold;
      div {
        color: #0072ff !important;
      }
    }
  }
  /*最后一行 总计汉字*/
  .last-row-left {
    background-color: #ff9933 !important;
    .cell {
      width: 100% !important;
      font-size: 15px;
      font-weight: bold;
      div {
        color: #ffffff !important;
      }
    }
  }
  /*最后一行 总计数字*/
  .last-row-right {
    background-color: #ffcc99 !important;
    .cell {
      font-size: 15px;
      font-weight: bold;
      div {
        color: #ff4700 !important;
      }
    }
  }
}
